<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmt.tourism.dao.HotelMapper" >
  <resultMap id="BaseResultMap" type="com.mmt.tourism.pojo.Hotel" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="hotelName" property="hotelname" jdbcType="VARCHAR" />
    <result column="hotelPhone" property="hotelphone" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="viewId" property="viewid" jdbcType="VARCHAR" />
    <result column="hotelCategory" property="hotelcategory" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="updateDate" property="updatedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mmt.tourism.pojo.Hotel" extends="BaseResultMap" >
    <result column="hotelDesc" property="hoteldesc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, hotelName, hotelPhone, code, viewId, hotelCategory, createDate, updateDate
  </sql>
  <sql id="Blob_Column_List" >
    hotelDesc
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.mmt.tourism.pojo.HotelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `t_hotel`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mmt.tourism.pojo.HotelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `t_hotel`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `t_hotel`
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from `t_hotel`
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mmt.tourism.pojo.HotelExample" >
    delete from `t_hotel`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mmt.tourism.pojo.Hotel" >
    insert into `t_hotel` (id, hotelName, hotelPhone, 
      code, viewId, hotelCategory, 
      createDate, updateDate, hotelDesc
      )
    values (#{id,jdbcType=VARCHAR}, #{hotelname,jdbcType=VARCHAR}, #{hotelphone,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{viewid,jdbcType=VARCHAR}, #{hotelcategory,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP}, #{updatedate,jdbcType=TIMESTAMP}, #{hoteldesc,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mmt.tourism.pojo.Hotel" >
    insert into `t_hotel`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hotelname != null" >
        hotelName,
      </if>
      <if test="hotelphone != null" >
        hotelPhone,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="viewid != null" >
        viewId,
      </if>
      <if test="hotelcategory != null" >
        hotelCategory,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="updatedate != null" >
        updateDate,
      </if>
      <if test="hoteldesc != null" >
        hotelDesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="hotelname != null" >
        #{hotelname,jdbcType=VARCHAR},
      </if>
      <if test="hotelphone != null" >
        #{hotelphone,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="viewid != null" >
        #{viewid,jdbcType=VARCHAR},
      </if>
      <if test="hotelcategory != null" >
        #{hotelcategory,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="hoteldesc != null" >
        #{hoteldesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mmt.tourism.pojo.HotelExample" resultType="java.lang.Integer" >
    select count(*) from `t_hotel`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update `t_hotel`
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.hotelname != null" >
        hotelName = #{record.hotelname,jdbcType=VARCHAR},
      </if>
      <if test="record.hotelphone != null" >
        hotelPhone = #{record.hotelphone,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.viewid != null" >
        viewId = #{record.viewid,jdbcType=VARCHAR},
      </if>
      <if test="record.hotelcategory != null" >
        hotelCategory = #{record.hotelcategory,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        createDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedate != null" >
        updateDate = #{record.updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.hoteldesc != null" >
        hotelDesc = #{record.hoteldesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update `t_hotel`
    set id = #{record.id,jdbcType=VARCHAR},
      hotelName = #{record.hotelname,jdbcType=VARCHAR},
      hotelPhone = #{record.hotelphone,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      viewId = #{record.viewid,jdbcType=VARCHAR},
      hotelCategory = #{record.hotelcategory,jdbcType=VARCHAR},
      createDate = #{record.createdate,jdbcType=TIMESTAMP},
      updateDate = #{record.updatedate,jdbcType=TIMESTAMP},
      hotelDesc = #{record.hoteldesc,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update `t_hotel`
    set id = #{record.id,jdbcType=VARCHAR},
      hotelName = #{record.hotelname,jdbcType=VARCHAR},
      hotelPhone = #{record.hotelphone,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      viewId = #{record.viewid,jdbcType=VARCHAR},
      hotelCategory = #{record.hotelcategory,jdbcType=VARCHAR},
      createDate = #{record.createdate,jdbcType=TIMESTAMP},
      updateDate = #{record.updatedate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmt.tourism.pojo.Hotel" >
    update `t_hotel`
    <set >
      <if test="hotelname != null" >
        hotelName = #{hotelname,jdbcType=VARCHAR},
      </if>
      <if test="hotelphone != null" >
        hotelPhone = #{hotelphone,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="viewid != null" >
        viewId = #{viewid,jdbcType=VARCHAR},
      </if>
      <if test="hotelcategory != null" >
        hotelCategory = #{hotelcategory,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null" >
        updateDate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="hoteldesc != null" >
        hotelDesc = #{hoteldesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mmt.tourism.pojo.Hotel" >
    update `t_hotel`
    set hotelName = #{hotelname,jdbcType=VARCHAR},
      hotelPhone = #{hotelphone,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      viewId = #{viewid,jdbcType=VARCHAR},
      hotelCategory = #{hotelcategory,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      updateDate = #{updatedate,jdbcType=TIMESTAMP},
      hotelDesc = #{hoteldesc,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmt.tourism.pojo.Hotel" >
    update `t_hotel`
    set hotelName = #{hotelname,jdbcType=VARCHAR},
      hotelPhone = #{hotelphone,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      viewId = #{viewid,jdbcType=VARCHAR},
      hotelCategory = #{hotelcategory,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      updateDate = #{updatedate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>