<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmt.tourism.dao.TicketMapper" >
  <resultMap id="BaseResultMap" type="com.mmt.tourism.pojo.Ticket" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="setMenuId" property="setmenuid" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, setMenuId, `number`, `status`, createDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mmt.tourism.pojo.TicketExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `t_ticket${date}`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from `t_ticket${@com.mmt.tourism.util.GlobalUtil@getTicketDate(_parameter)}`
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from `t_ticket${@com.mmt.tourism.util.GlobalUtil@getTicketDate(_parameter)}`
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mmt.tourism.pojo.TicketExample" >
    delete from `t_ticket${date}`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mmt.tourism.pojo.Ticket" >
    insert into `t_ticket${@com.mmt.tourism.util.GlobalUtil@getTicketDate(id)}` (id, setMenuId, `number`, 
      `status`, createDate)
    values (#{id,jdbcType=VARCHAR}, #{setmenuid,jdbcType=VARCHAR}, #{number,jdbcType=TINYINT}, 
      #{status,jdbcType=BIT}, #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mmt.tourism.pojo.Ticket" >
    insert into `t_ticket${@com.mmt.tourism.util.GlobalUtil@getTicketDate(id)}`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="setmenuid != null" >
        setMenuId,
      </if>
      <if test="number != null" >
        `number`,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="setmenuid != null" >
        #{setmenuid,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mmt.tourism.pojo.TicketExample" resultType="java.lang.Integer" >
    select count(*) from `t_ticket${date}`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update `t_ticket${date}`
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.setmenuid != null" >
        setMenuId = #{record.setmenuid,jdbcType=VARCHAR},
      </if>
      <if test="record.number != null" >
        `number` = #{record.number,jdbcType=TINYINT},
      </if>
      <if test="record.status != null" >
        `status` = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.createdate != null" >
        createDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update `t_ticket${date}`
    set id = #{record.id,jdbcType=VARCHAR},
      setMenuId = #{record.setmenuid,jdbcType=VARCHAR},
      `number` = #{record.number,jdbcType=TINYINT},
      `status` = #{record.status,jdbcType=BIT},
      createDate = #{record.createdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmt.tourism.pojo.Ticket" >
    update `t_ticket${@com.mmt.tourism.util.GlobalUtil@getTicketDate(id)}`
    <set >
      <if test="setmenuid != null" >
        setMenuId = #{setmenuid,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        `number` = #{number,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=BIT},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmt.tourism.pojo.Ticket" >
    update `t_ticket${@com.mmt.tourism.util.GlobalUtil@getTicketDate(id)}`
    set setMenuId = #{setmenuid,jdbcType=VARCHAR},
      `number` = #{number,jdbcType=TINYINT},
      `status` = #{status,jdbcType=BIT},
      createDate = #{createdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>