<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmt.tourism.dao.ViewDescMapper" >
  <resultMap id="BaseResultMap" type="com.mmt.tourism.pojo.po.ViewDesc" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="viewId" property="viewid" jdbcType="VARCHAR" />
    <result column="openTime" property="opentime" jdbcType="VARCHAR" />
    <result column="palyTime" property="palytime" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="updateDate" property="updatedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mmt.tourism.pojo.po.ViewDesc" extends="BaseResultMap" >
    <result column="viewDesc" property="viewdesc" jdbcType="LONGVARCHAR" />
    <result column="viewHistory" property="viewhistory" jdbcType="LONGVARCHAR" />
    <result column="positionMsg" property="positionmsg" jdbcType="LONGVARCHAR" />
    <result column="weather" property="weather" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, viewId, openTime, palyTime, createDate, updateDate
  </sql>
  <sql id="Blob_Column_List" >
    viewDesc, viewHistory, positionMsg, weather
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.mmt.tourism.pojo.po.ViewDescExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `t_view_desc`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mmt.tourism.pojo.po.ViewDescExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `t_view_desc`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `t_view_desc`
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from `t_view_desc`
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mmt.tourism.pojo.po.ViewDescExample" >
    delete from `t_view_desc`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mmt.tourism.pojo.po.ViewDesc" >
    insert into `t_view_desc` (id, viewId, openTime, 
      palyTime, createDate, updateDate, 
      viewDesc, viewHistory, positionMsg, 
      weather)
    values (#{id,jdbcType=VARCHAR}, #{viewid,jdbcType=VARCHAR}, #{opentime,jdbcType=VARCHAR}, 
      #{palytime,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, #{updatedate,jdbcType=TIMESTAMP}, 
      #{viewdesc,jdbcType=LONGVARCHAR}, #{viewhistory,jdbcType=LONGVARCHAR}, #{positionmsg,jdbcType=LONGVARCHAR}, 
      #{weather,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mmt.tourism.pojo.po.ViewDesc" >
    insert into `t_view_desc`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="viewid != null" >
        viewId,
      </if>
      <if test="opentime != null" >
        openTime,
      </if>
      <if test="palytime != null" >
        palyTime,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="updatedate != null" >
        updateDate,
      </if>
      <if test="viewdesc != null" >
        viewDesc,
      </if>
      <if test="viewhistory != null" >
        viewHistory,
      </if>
      <if test="positionmsg != null" >
        positionMsg,
      </if>
      <if test="weather != null" >
        weather,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="viewid != null" >
        #{viewid,jdbcType=VARCHAR},
      </if>
      <if test="opentime != null" >
        #{opentime,jdbcType=VARCHAR},
      </if>
      <if test="palytime != null" >
        #{palytime,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="viewdesc != null" >
        #{viewdesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="viewhistory != null" >
        #{viewhistory,jdbcType=LONGVARCHAR},
      </if>
      <if test="positionmsg != null" >
        #{positionmsg,jdbcType=LONGVARCHAR},
      </if>
      <if test="weather != null" >
        #{weather,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mmt.tourism.pojo.po.ViewDescExample" resultType="java.lang.Integer" >
    select count(*) from `t_view_desc`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update `t_view_desc`
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.viewid != null" >
        viewId = #{record.viewid,jdbcType=VARCHAR},
      </if>
      <if test="record.opentime != null" >
        openTime = #{record.opentime,jdbcType=VARCHAR},
      </if>
      <if test="record.palytime != null" >
        palyTime = #{record.palytime,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        createDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedate != null" >
        updateDate = #{record.updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.viewdesc != null" >
        viewDesc = #{record.viewdesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.viewhistory != null" >
        viewHistory = #{record.viewhistory,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.positionmsg != null" >
        positionMsg = #{record.positionmsg,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.weather != null" >
        weather = #{record.weather,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update `t_view_desc`
    set id = #{record.id,jdbcType=VARCHAR},
      viewId = #{record.viewid,jdbcType=VARCHAR},
      openTime = #{record.opentime,jdbcType=VARCHAR},
      palyTime = #{record.palytime,jdbcType=VARCHAR},
      createDate = #{record.createdate,jdbcType=TIMESTAMP},
      updateDate = #{record.updatedate,jdbcType=TIMESTAMP},
      viewDesc = #{record.viewdesc,jdbcType=LONGVARCHAR},
      viewHistory = #{record.viewhistory,jdbcType=LONGVARCHAR},
      positionMsg = #{record.positionmsg,jdbcType=LONGVARCHAR},
      weather = #{record.weather,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update `t_view_desc`
    set id = #{record.id,jdbcType=VARCHAR},
      viewId = #{record.viewid,jdbcType=VARCHAR},
      openTime = #{record.opentime,jdbcType=VARCHAR},
      palyTime = #{record.palytime,jdbcType=VARCHAR},
      createDate = #{record.createdate,jdbcType=TIMESTAMP},
      updateDate = #{record.updatedate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmt.tourism.pojo.po.ViewDesc" >
    update `t_view_desc`
    <set >
      <if test="viewid != null" >
        viewId = #{viewid,jdbcType=VARCHAR},
      </if>
      <if test="opentime != null" >
        openTime = #{opentime,jdbcType=VARCHAR},
      </if>
      <if test="palytime != null" >
        palyTime = #{palytime,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null" >
        updateDate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="viewdesc != null" >
        viewDesc = #{viewdesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="viewhistory != null" >
        viewHistory = #{viewhistory,jdbcType=LONGVARCHAR},
      </if>
      <if test="positionmsg != null" >
        positionMsg = #{positionmsg,jdbcType=LONGVARCHAR},
      </if>
      <if test="weather != null" >
        weather = #{weather,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mmt.tourism.pojo.po.ViewDesc" >
    update `t_view_desc`
    set viewId = #{viewid,jdbcType=VARCHAR},
      openTime = #{opentime,jdbcType=VARCHAR},
      palyTime = #{palytime,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      updateDate = #{updatedate,jdbcType=TIMESTAMP},
      viewDesc = #{viewdesc,jdbcType=LONGVARCHAR},
      viewHistory = #{viewhistory,jdbcType=LONGVARCHAR},
      positionMsg = #{positionmsg,jdbcType=LONGVARCHAR},
      weather = #{weather,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmt.tourism.pojo.po.ViewDesc" >
    update `t_view_desc`
    set viewId = #{viewid,jdbcType=VARCHAR},
      openTime = #{opentime,jdbcType=VARCHAR},
      palyTime = #{palytime,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      updateDate = #{updatedate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>