<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmt.tourism.dao.ViewPointMapper" >
  <resultMap id="BaseResultMap" type="com.mmt.tourism.pojo.ViewPoint" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="viewPointName" property="viewpointname" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="viewPointSummary" property="viewpointsummary" jdbcType="VARCHAR" />
    <result column="viewTicket" property="viewticket" jdbcType="TINYINT" />
    <result column="visitNum" property="visitnum" jdbcType="INTEGER" />
    <result column="viewId" property="viewid" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="updateDate" property="updatedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mmt.tourism.pojo.ViewPoint" extends="BaseResultMap" >
    <result column="viewPointDesc" property="viewpointdesc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, viewPointName, code, viewPointSummary, viewTicket, visitNum, viewId, createDate, 
    updateDate
  </sql>
  <sql id="Blob_Column_List" >
    viewPointDesc
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.mmt.tourism.pojo.ViewPointExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `t_viewpoint`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mmt.tourism.pojo.ViewPointExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `t_viewpoint`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `t_viewpoint`
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from `t_viewpoint`
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mmt.tourism.pojo.ViewPointExample" >
    delete from `t_viewpoint`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mmt.tourism.pojo.ViewPoint" >
    insert into `t_viewpoint` (id, viewPointName, code, 
      viewPointSummary, viewTicket, visitNum, 
      viewId, createDate, updateDate, 
      viewPointDesc)
    values (#{id,jdbcType=VARCHAR}, #{viewpointname,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{viewpointsummary,jdbcType=VARCHAR}, #{viewticket,jdbcType=TINYINT}, #{visitnum,jdbcType=INTEGER}, 
      #{viewid,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, #{updatedate,jdbcType=TIMESTAMP}, 
      #{viewpointdesc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mmt.tourism.pojo.ViewPoint" >
    insert into `t_viewpoint`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="viewpointname != null" >
        viewPointName,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="viewpointsummary != null" >
        viewPointSummary,
      </if>
      <if test="viewticket != null" >
        viewTicket,
      </if>
      <if test="visitnum != null" >
        visitNum,
      </if>
      <if test="viewid != null" >
        viewId,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="updatedate != null" >
        updateDate,
      </if>
      <if test="viewpointdesc != null" >
        viewPointDesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="viewpointname != null" >
        #{viewpointname,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="viewpointsummary != null" >
        #{viewpointsummary,jdbcType=VARCHAR},
      </if>
      <if test="viewticket != null" >
        #{viewticket,jdbcType=TINYINT},
      </if>
      <if test="visitnum != null" >
        #{visitnum,jdbcType=INTEGER},
      </if>
      <if test="viewid != null" >
        #{viewid,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="viewpointdesc != null" >
        #{viewpointdesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mmt.tourism.pojo.ViewPointExample" resultType="java.lang.Integer" >
    select count(*) from `t_viewpoint`
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update `t_viewpoint`
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.viewpointname != null" >
        viewPointName = #{record.viewpointname,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.viewpointsummary != null" >
        viewPointSummary = #{record.viewpointsummary,jdbcType=VARCHAR},
      </if>
      <if test="record.viewticket != null" >
        viewTicket = #{record.viewticket,jdbcType=TINYINT},
      </if>
      <if test="record.visitnum != null" >
        visitNum = #{record.visitnum,jdbcType=INTEGER},
      </if>
      <if test="record.viewid != null" >
        viewId = #{record.viewid,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        createDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedate != null" >
        updateDate = #{record.updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.viewpointdesc != null" >
        viewPointDesc = #{record.viewpointdesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update `t_viewpoint`
    set id = #{record.id,jdbcType=VARCHAR},
      viewPointName = #{record.viewpointname,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      viewPointSummary = #{record.viewpointsummary,jdbcType=VARCHAR},
      viewTicket = #{record.viewticket,jdbcType=TINYINT},
      visitNum = #{record.visitnum,jdbcType=INTEGER},
      viewId = #{record.viewid,jdbcType=VARCHAR},
      createDate = #{record.createdate,jdbcType=TIMESTAMP},
      updateDate = #{record.updatedate,jdbcType=TIMESTAMP},
      viewPointDesc = #{record.viewpointdesc,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update `t_viewpoint`
    set id = #{record.id,jdbcType=VARCHAR},
      viewPointName = #{record.viewpointname,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      viewPointSummary = #{record.viewpointsummary,jdbcType=VARCHAR},
      viewTicket = #{record.viewticket,jdbcType=TINYINT},
      visitNum = #{record.visitnum,jdbcType=INTEGER},
      viewId = #{record.viewid,jdbcType=VARCHAR},
      createDate = #{record.createdate,jdbcType=TIMESTAMP},
      updateDate = #{record.updatedate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmt.tourism.pojo.ViewPoint" >
    update `t_viewpoint`
    <set >
      <if test="viewpointname != null" >
        viewPointName = #{viewpointname,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="viewpointsummary != null" >
        viewPointSummary = #{viewpointsummary,jdbcType=VARCHAR},
      </if>
      <if test="viewticket != null" >
        viewTicket = #{viewticket,jdbcType=TINYINT},
      </if>
      <if test="visitnum != null" >
        visitNum = #{visitnum,jdbcType=INTEGER},
      </if>
      <if test="viewid != null" >
        viewId = #{viewid,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null" >
        updateDate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="viewpointdesc != null" >
        viewPointDesc = #{viewpointdesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mmt.tourism.pojo.ViewPoint" >
    update `t_viewpoint`
    set viewPointName = #{viewpointname,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      viewPointSummary = #{viewpointsummary,jdbcType=VARCHAR},
      viewTicket = #{viewticket,jdbcType=TINYINT},
      visitNum = #{visitnum,jdbcType=INTEGER},
      viewId = #{viewid,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      updateDate = #{updatedate,jdbcType=TIMESTAMP},
      viewPointDesc = #{viewpointdesc,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmt.tourism.pojo.ViewPoint" >
    update `t_viewpoint`
    set viewPointName = #{viewpointname,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      viewPointSummary = #{viewpointsummary,jdbcType=VARCHAR},
      viewTicket = #{viewticket,jdbcType=TINYINT},
      visitNum = #{visitnum,jdbcType=INTEGER},
      viewId = #{viewid,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      updateDate = #{updatedate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>