<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">

    <description>Email配置及quartz配置</description>
    
    <bean id="freemarkerConfiguration" name="freemarkerConfiguration" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
		<property name="templateLoaderPath" value="classpath:/META-INF/mail_template" />
	</bean>
    
    <!-- MIME邮件服务类 -->
	<bean id="springMail" class="com.mmt.tourism.util.SpringMail">
		<property name="mailSender" ref="mailSender" />
		<property name="freemarkerConfiguration" ref="freemarkerConfiguration" />
		<!-- <property name="senderUser" value="${mail.receiver.username}" /> -->
	</bean>

	<!-- 邮件发送器 -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="" />
		<property name="port" value="" />
		<property name="username" value="" />
		<property name="password" value="" />
		<property name="defaultEncoding" value="UTF-8"/>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.debug">false</prop>  
				<prop key="mail.smtp.timeout">0</prop>
			</props>
		</property>
	</bean>
</beans>
