<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.2.xsd ">

    <description>scheduler配置</description>
    <!-- 自动扫描 -->
    <context:component-scan base-package="com.mmt.tourism.config.scheduler" />
    <!-- Job -->
    <bean id="ticketTableJob" class="com.mmt.tourism.config.scheduler.job.TicketTableJob">
		<property name="dataSource" ref="dataSource"></property>
		<property name="days" value="15"></property>
		<property name="dropTicketTableSql">
		   <value><![CDATA[DROP TABLE IF EXISTS t_ticket{?};]]></value>
		</property>
		<property name="createTicketTableSql">
		   <value><![CDATA[CREATE TABLE IF NOT EXISTS t_ticket{?}(
				/*主键*/
				id VARCHAR(32) PRIMARY KEY,
				/*套餐id*/
				setMenuId VARCHAR(32),
				/*票号*/
				number TINYINT NOT NULL,
				/*状态  0未出售   1已出售 */
				status BIT NOT NULL DEFAULT 0,
				/*创建时间*/
				createDate TIMESTAMP NOT NULL DEFAULT current_timestamp,
				/*更新时间*/
				CONSTRAINT fk_ticket{?} FOREIGN KEY(setMenuId) REFERENCES t_viewsetmenu(id)
				);]]></value>
		</property>
	</bean>
	<!--  调度器-->
    <bean id="createTicketTableScheduler"  class="com.mmt.tourism.config.scheduler.SchedulerConfig" init-method="start">
		<property name="job"  ref="ticketTableJob"/>
		<!--  每天0点启动一次-->	
		<property name="cronExpression"  value="0 0 0 * * ?"/>
		<!--  每？秒启动一次    cronExpression有值时无效-->
		<property name="repeatMinutelyForever"  value="30"/>	
		<property name="name"  value="TicketTableTrigger"/>	
		<property name="schedulerDesc"  value="票表定时器"/>	
	</bean>
	<!--  调度器-->
    <bean id="cancelOrderScheduler"  class="com.mmt.tourism.config.scheduler.SchedulerConfig" init-method="start">
		<property name="job">
		   <bean class="com.mmt.tourism.config.scheduler.job.CancelOrderJob">
		          <property name="orderJobService" ref="orderJob"></property>
		   </bean>
		</property>
		<!--  每小时10/40分钟启动一次-->	
		<property name="cronExpression"  value="0 10/30 * * * ?"/>
	    <property name="name"  value="cancelOrderTrigger"/>	
		<property name="schedulerDesc"  value="半小时未付款订单清除定时器"/>	
	</bean>
	<!--  调度器-->
    <bean id="cancelBespeakOrderScheduler"  class="com.mmt.tourism.config.scheduler.SchedulerConfig" init-method="start">
		<property name="job">
		   <bean class="com.mmt.tourism.config.scheduler.job.CancelBespeakOrderJob">
		      <property name="orderJobService" ref="orderJob"></property>
		   </bean>
		</property>
		<!--  每天0点30分钟启动一次-->	
		<property name="cronExpression"  value="0 30 0 * * ?"/>
	    <property name="name"  value="cancelBespeakOrderTrigger"/>	
		<property name="schedulerDesc"  value="预约订单到期取消定时器"/>	
	</bean>
</beans>
