          /*背景色*/
.bc-white{
	background-color: #fff;
}
.bc-lblue{
    background-color:#d8ebef;
}
.bc-blue{
	background-color: #43B0E2;
}
.bc-lcheng{
	background-color: #FFBE5C;
}
.bc-cheng{
	background-color: #F4682D;
}
.bc-dgray{
     background-color: #323232;
}
.bc-zihong{
     background-color: #D8AFB3;
}
.bc-green{
     background-color: #31A868;
}
.bc-lgreen{
     background-color: #9EC483;
}

       /*字色*/
/*.c-white{
	color: :#fff;
}
.c-blank{
	color: #000;
}*/
.m0{
   margin: 0;
}
.ml2{
	margin-left: 0.02rem;
}
.mt2{
	margin-top: 0.02rem;
}
.mtb2{
	margin: 0.02rem 0;
}
.ml3{
	margin-left: 0.03rem;
}
.mtb5{
	margin: 0.05rem 0;
}
.mt5{
	margin-top: 0.05rem;
}
.mb5{
	margin-bottom: 0.05rem;
}
.ml5{
	margin-left: 0.05rem;
}
.mb8{
	margin-bottom: 0.08rem;
}
.ml10{
	margin-left: 0.1rem;
}
.mlr10{
	margin: 0 0.1rem;
}
.mt10{
	margin-top: 0.1rem;
}
.mb10{
	margin-bottom: 0.1rem;
}
.mtb10{
	margin: 0.1rem 0;
}
.ml15{
	margin-left: 0.15rem;
}
.mt20{
	margin-top: 0.2rem;
}
.mb20{
	margin-bottom: 0.2rem;
}
.mtb20{
	margin: 0.2rem 0;
}
.ml20{
	margin-left: 0.2rem;
}
.mr20{
	margin-right: 0.2rem;
}
.mt40{
	margin-top: 0.4rem;
}
.mb40{
	margin-bottom: 0.4rem;
}
.ml120{
	margin-left: 1.2rem;
}

.pt5{
	padding-top: 0.05rem;
}
.plr5{
	padding: 0 0.05rem;
}
.plr8{
	padding: 0 0.08rem;
}
.ptb8{
	padding: 0.08rem 0;
}
.p10{
	padding: 0.1rem;
}
.plr10{
	padding: 0 0.1rem;
}
.ptb10{
	padding: 0.1rem 0;
}
.p20{
	padding: 0.2rem;
}
.pl20{
	padding-left: 0.2rem;
}
.pr20{
	padding-right: 0.2rem;
}
.pt20{
	padding-top: 0.2rem;
}
.ptb20{
	padding: 0.2rem 0;
}
.p40{
	padding: 0.4rem;
}
.pl40{
	padding-left: 0.4rem;
}
.pr40{
	padding-right: 0.4rem;
}
.pl50{
	padding-left: 0.5rem;
}
.pr50{
	padding-right: 0.5rem;
}

         /*字号*/
.f5{
	font-size: 0.05rem;
}
.f6{
	font-size: 0.06rem;
}
.f7{
	font-size: 0.07rem;
}
.f8{
	font-size: 0.08rem;
}
.f10{
	font-size: 0.1rem;
}
.f11{
	font-size: 0.11rem;
}
.f12{
	font-size: 0.12rem;
}
.f13{
	font-size: 0.13rem;
}
.f14{
	font-size: 0.14rem;
}
.f15{
	font-size: 0.15rem;
}


.img-wh5{
	width: 0.05rem;
	height: 0.05rem;
}
.img-wh8{
	width: 0.08rem;
	height: 0.08rem;
}
.img-wh10{
	width: 0.1rem;
	height: 0.1rem;
}
.img-wh20{
	width: 0.2rem;
	height: 0.2rem;
}
.img-wh30{
	width: 0.3rem;
	height: 0.3rem;
}
.img-wh40{
	width: 0.4rem;
	height: 0.4rem;
}
.img-wh60{
	width: 0.6rem;
	height: 0.6rem;
}
.img-wh80{
	width: 0.8rem;
	height: 0.8rem;
}
.img-w80h180{
	width: 80%;
	height: 1.8rem;
}
.img-h120{
	width: 100%;
	height: 1.2rem;
}
.img-h150{
	width: 100%;
	height: 1.5rem;
}
.img-photo{
   width: 300px;
}
.img-icon{
   width: 28px;
   height: 28px;  
}
.img-icon-lg{
   width: 38px;
   height: 38px;  
}
.img-tiehua{
   width:400px;
   position: absolute;
   right: 0;
   top:0;
   
}

     /*边框圆角*/
.br5{
	border-radius: 0.05rem;
}
.br10{
	border-radius: 0.1rem;
}
.br20{
	border-radius: 0.2rem;
}
.br60{
	border-radius: 0.6rem;
}
.br80{
	border-radius: 0.8rem;
}

    /*边框颜色*/
.b-white{
	border: 0.01rem solid #fff;
}
.b-cheng{
	border:0.01rem solid #F4682D;
}

  /*边框阴影*/
.bs-gray{
   box-shadow: 0 0 2px 1px rgba(30,30,30,.3);
}
.bs-photo-gray{
   box-shadow: 1px 1px 4px 1px rgba(30,30,30,.3);
}




.ftl{
	float: left;
}
.ftr{
	float: right;
}
.fc { 
	clear: both !important;
 }  /*清除浮动*/

.m0a{
	margin: 0 auto;
}
.tac{
	text-align: center;
}
.tal{
	text-align: left;
}
.tar{
	text-align: right;
}


        /*垂直居中*/
.vc{
	display: flex;
	display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;
	align-items:center;   /*垂直居中*/
		-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;	
}

html,body{
    width: 100%;
    height:100%;
    font-family:"Microsoft YaHei",Arial;
    overflow-x:hidden;
    overflow-y:auto;
}  
html,body,a,i{
    padding: 0;
    margin: 0;
} 
/* IE下需要设置body的font-size */
 /*body{
  font-size:100%;
} */
.ff{
	 font-family:"Microsoft YaHei",Arial !important;
}

/*渐变色背景*/
.bg{
    width:100%;
    height:100%;
    background-size: 100% 100%;
}
.bg-blue{
    background-image: url(../images/blue.jpg);
}
.bg-lgreen{
    background-image: url(../images/lgreen.jpg);
    
}

/*welcome.html开始*/
.welcome{
	overflow-y: hidden;
}
.bg-welcome{
    width:100%;
    height:100%;
    background-image: url("../images/welcome/bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
}
             /*替换了默认a链接的颜色*/
.bg-welcome a:hover,.bg a:active{
    color: #6C9EAA;
}
.bg-welcome a{
    display: inline-block;
    width: 0.36rem;
    height: 0.18rem;
    position: absolute;
    /*background-color: yellow;*/
    z-index: 1;
}
.bg-welcome a i{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: absolute;
    z-index: 2; 
}
.bgAzc{
    top:78%;
    left: 35%;
}
.bgAzc i{
    background-image: url("../images/welcome/zc.png");
}
.bgAzc i:hover{
    background-image: url("../images/welcome/zc1.png");
}
.bgAdlu{
    top: 78%;
    left: 55%;
}
.bgAdlu i{
    background-image: url("../images/welcome/dlu.png");
}
.bgAdlu i:hover{
    background-image: url("../images/welcome/dlu1.png");
}

/* 修改input placeholder颜色 */
input::-webkit-input-placeholder {
    color: red;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: red; 
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: red;
}
input:-ms-input-placeholder{
    color: red;
}



/*catalog.html开始*/
.bg-catalog{
    width:100%;
    /*height:5.5rem;*/
    /*background-color: yellow;*/
    position: absolute;
    z-index: 0;
 }
.header{
	 height: 0.3rem;
	 width: 100%;
	 position: relative; 
	 top:0; 
	 z-index: 10;
}
       /*导航栏选项*/
.navigation { 
	/*display:inline-block;*/ 
	width: 100%; 
}
.navigation ul { 
	height: 0.2rem; 
	list-style-type: none;
}

.navigation ul li a{ 
	display: block; 
	height: 0.2rem; 
	line-height: 0.2rem; 
	/*width: 0.5rem;*/ 
	color: #000; 
	text-decoration: none;
}
.navigation ul li:hover a,.navigation ul li .current{ 
	background-color: #6CA9A6; 
	color: #FFF;
}
.show{
    display: none !important; 
    width: auto;
    height:auto;
    background-color:rgba(108,169,166,0.9);
    position: absolute;
    z-index: 11;
}
.navigation ul li:hover .show{
   display: block !important;
}
.navigation ul li:hover .showA{
    width: auto;
    white-space: nowrap;
    margin: 0 0.06rem;
    background-color:rgba(108,169,166,0);
    color: #000;     
}
.showA:hover{
      /*background-color: red !important;*/
      color:#fff !important;
}

.carousel{
	 width: 100%;
	 height: 2.3rem;
	 position: relative;
	 z-index: 1;
     top:0;
}        

.carousel-indicators li,.carousel-indicators li .active{  /*轮播指标*/
	 height: 0.05rem !important;
	 width: 0.05rem !important;
	 margin: 0 auto;
   /*background-color:#d8ebef !important;*/
}

.carousel-inner,.itemImg{       /*轮播项目*/	 
	 width:100%;
	 height:2.3rem !important;
}
.carousel-control{   /*轮播项目*/	
	  /*display: none; */ 
	  width: 6%;
	  justify-content:center;  /*水平居中*/
		 -webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;
}

.words{
    line-height: 0.18rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
  /*大纲列表*/
.basic-info{
    display: table;
    width: 100%;
    background: lightsteelblue;
}
.basicInfo-block{
   display: table-cell;
   vertical-align: top;
}
.basicInfo-item{
   /*float: left;*/
   line-height: 0.12rem;
}
.basicInfo-block .name{
  /*width: 20%;*/
}
.basicInfo-block .value{
  /*width: 80%;*/
}

   /*首行缩进*/
.indent{
  text-indent: 2em;
  text-align: justify;     /* 解决不满一行即换行为问题*/
}


footer{
    width: 100%;
    height: 0.5rem;
}

/*anhui.html开始*/
.a-weizhi,.ul-fenye li a,.a-news{
	 text-decoration: none !important;
}
.a-weizhi:hover{
	 color: #fff;
}
.img-header{	
	box-shadow: 0 0.05rem 0.03rem 0 #000000 ;
}
.chengshi{
	display: inline-block;
	height:30px;
	line-height: 30px;
	font-weight: bold;
	opacity: 0.95;
}
.div-zhanshi{
	width: 80%;
}
.line{
	width: 0.2rem;
	height: 100%;
}
.img-tops{
	width: 0.5rem;
	height: 0.5rem;
}

.a-biaoti,.a-shousuo{
  text-decoration: none !important;
  color: #000;
  font-weight:bold;	
}
.a-biaoti:hover,.a-shousuo:hover{
	color: #31A868;
}
  /*目录导航*/
.town-nav{
	border-bottom: 1px solid #31708f;
}
.town-nav>li.active>a,
.town-nav>li.active>a:focus,
.town-nav>li.active>a:hover {
	color: #fff;
	cursor: default;
	background-color: #31708f;
	border: 1px solid #31708f;
	border-bottom-color: transparent
}


   /*回到顶部*/
.gotop-button{
    position: fixed;
    bottom: 3%;
    right: 4%;
}





/*xidi.html开始*/
.lineblue{
  display: inline-block;
  width: 4px;
  height: 24px;
  background-color: #0099CC;
  vertical-align:text-bottom;
}

.div-miaoshu{
  line-height: 1.7em;
	width: 85%;
	font-size: 16px;
}	
.div-miaoshu h4{
    border-bottom: 1px solid #0099CC; 
}
.div-w85{
	width: 85%;
}
.div-w65{
	width: 65%;
}

.xidi-a{
   color: #000;
   font-size: 18px;
   text-decoration: none !important;
}
.xidi-a:visited{
     color: #000;
}
.xidi-a:hover,.xidi-a:active{
   color:#FF9D00 !important;
}

.div-thumbnail div{
   display: inline-block;
}

.border-img{    /*图片边框*/
	border:27px solid transparent;
	border-image: url(../images/border.png) 54 54 round;
	-moz-border-image: url(../images/border.png) 54 54 round;
	-o-border-image: url(../images/border.png) 54 54 round;
	-webkit-border-image: url(../images/border.png) 54 54 round;
}

   /*包含目录导航的容器*/
.nav-container{
    position: relative;
}
     /*目录导航*/
.nav-container ul.nav{	
 	  width:10%;   
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    position: absolute;
    top:100px;
    left: 3%;
    
}
.nav-container ul.nav li a{
	  font-size: 0.06rem ;
	  padding: 0.08rem 0 !important;
}

  /*居右的目录导航内容页 tab-content*/
.tab-content-small{
	 position: relative;
	  /*margin: 0 auto;*/
	  width:78%;
	  min-height: 400px;
	  margin-left: 15%;
}
.relative{
	position: relative;
}
.yuandian{
	 position: absolute; 
	 top:0.05rem;
	 animation:myfirst 5s infinite;
	-webkit-animation:myfirst 5s infinite; /* Safari and Chrome */	 
}
             /*动画  背景颜色*/
@keyframes myfirst
  {
		from {background:red;}
		to {background:yellow;}
  }
@-webkit-keyframes myfirst /* Safari and Chrome */
	{
		from {background:red;}
		to {background:yellow;}
	}


         /*一行标题,超出省略*/
/*.div-title{
	 white-space: nowrap; 
	 overflow: hidden;
	 text-overflow: ellipsis;
}*/
.div-title{
   height: 2.9em;
	 overflow: hidden;
}

         /*分页*/
.ul-fenye{
	 list-style-type: none;
}
.ul-fenye li{
	 display: inline-block;
	 margin: 0 0.01rem;
	 /*border: 1px solid #5BB75B;*/
}
.ul-fenye li a{
	 padding: 0.02rem;
	 color: #000;
}
.ul-fenye li a:hover,.ul-fenye li .current{
	 /*border-radius: 0.2rem;*/
	 background-color: #F4682D;
	 color:#fff;
}
